<form *ngIf="dynamicForm" [formGroup]="dynamicForm" (ngSubmit)="submit()" novalidate class="form-horizontal" f>
  <ng-container *ngFor="let field of formFields">
    <div [ngSwitch]="field.type" class="form-group">

      <div *ngSwitchCase="'text'">
        <mat-label>{{field.label}}</mat-label>
        <input [type]="field.type" formControlName="{{field.field}}" class="form-control" />
        <br>
      </div>

      <div *ngSwitchCase="'select'">
        <mat-label>{{field.label}}</mat-label>
        <select formControlName="{{field.field}}" class="form-control">
          <option *ngFor="let opt of field.options" [value]="opt">
            {{opt}}
          </option>
        </select>
      </div>

      <div *ngSwitchCase="'radio'" class="radio">

        <label>{{field.label}}</label>
        <div *ngFor="let option of field.options">
          <input formControlName="{{field.field}}" type="radio" [value]="option">
          <label>{{option}}
          </label>
        </div>
      </div>
    </div>

    <div *ngIf='field.children'>
      <ng-container *ngFor="let childfield of field.children" formGroupName='{{nestedFormGroupName}}'>
        <div [ngSwitch]="childfield.type" class="form-group">

          <div *ngSwitchCase="'text'">
            <mat-label>{{childfield.label}}</mat-label>
            <input matInput [type]="childfield.type" formControlName="{{childfield.field | slice:5}}"
              class="form-control" />
            <br>
          </div>

          <div *ngSwitchCase="'select'">
            <mat-label>{{childfield.label}}</mat-label>
            <select formControlName="{{childfield.field | slice:5}}" class="form-control">
              <option *ngFor="let opt of childfield.options" [value]="opt">
                {{opt}}
              </option>
            </select>
          </div>

          <div *ngSwitchCase="'radio'" class="radio">

            <label>{{childfield.label}}</label>
            <div *ngFor="let option of childfield.options" class="radio">
              <input formControlName="{{childfield.field | slice:5}}" type="radio" [value]="option">
              <label>{{option}}
                <span></span>
              </label>&nbsp;
            </div>
          </div>


        </div>
      </ng-container>
    </div>
  </ng-container>
  <br>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>